/* global style */

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.container {
    width: 940px;
    margin: auto;
    padding: 0 15px;
}

input[type="text"] {
    border: none;
    border-bottom: 1px solid #a6a9ac;
    outline: none;
}

button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

a {
    color: #a6a9ac;
}

a:hover {
    color: #212121;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #757575;
    background-color: #f5f8f9;
}

/* header */

header {
    background: #ffffff;
    height: 144px;
    box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.04);
}

header .header-top {
    border-bottom: 1px solid #eceff2;
    padding: 18px 0 14px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-top .search {
    width: 200px;
    position: relative;
}

header .header-top .search input[type="text"] {
    color: #a6a9ac;
    font-size: 15px;
    padding: 12px 40px 12px 0;
    line-height: 24px;
    display: block;
    width: 100%;
}

header .header-top .search input[type="text"]::placeholder {
    color: #a6a9ac;
}

header .header-top .search button {
    color: #a6a9ac;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

header nav ul {
    padding: 0;
    height: 69px;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin: 0 24px;
}

header nav ul li:nth-child(1) {
    margin-left: 0;
}

/* end header */

/* banners */

.banners .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 16px;
}

.banner-wrapper {
    border: 6px solid #ffffff;
    color: #ffffff;
    margin-top: 24px;
    position: relative;
}

.banner-wrapper:nth-child(1),
.banner-wrapper:nth-child(2) {
    flex: 0 0 48%;
    max-width: 48%;
}

.banner-wrapper:nth-child(3),
.banner-wrapper:nth-child(4),
.banner-wrapper:nth-child(5) {
    flex: 0 0 31%;
    max-width: 31%;
}

.banner-wrapper a {
    display: block;
}

.banner-wrapper a::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background-color 0.2s;
}

.banner-wrapper a:hover::after {
    background: rgba(0, 0, 0, 0.2);
}

.banner-wrapper img {
    width: 100%;
    height: 100%;
}

.banner-wrapper h1,
.banner-wrapper .tag,
.banner-wrapper time {
    color: #ffffff;
    position: absolute;
    z-index: 10;
}

.banner-wrapper h1 {
    font-weight: 900;
    top: 20px;
    left: 30px;
    right: 30px;
}

.banner-wrapper .tag {
    border: 1px solid #ffffff;
    font-size: 12px;
    border-radius: 12px;
    padding: 1px 8px;
    left: 30px;
    bottom: 60px;
}

.banner-wrapper time {
    bottom: 22px;
    left: 30px;
}

/* banners end */

/* main */