/* global style */

input[type="text"] {
    border: none;
    border-bottom: 1px solid #a6a9ac;
    outline: none;
}

button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: #a6a9ac;
    transition: all 0.2s;
}

a:hover {
    color: #212121;
    text-decoration: none;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
}

body {
    color: #757575;
    background-color: #f5f8f9;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.container {
    width: 940px;
    margin: auto;
    padding: 0 15px;
}

/* end global */

/* header */

header {
    background: #ffffff;
    height: 144px;
    box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.04);
    transition: all 0.6s;
}

header .header-top {
    border-bottom: 1px solid #eceff2;
    padding: 18px 0 14px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.6s;
}

header.scrolling .header-top {
    opacity: 0;
}

header .header-top .search {
    width: 200px;
    position: relative;
}

header .header-top .search input[type="text"] {
    color: #a6a9ac;
    font-size: 15px;
    padding: 12px 40px 12px 0;
    line-height: 24px;
    display: block;
    width: 100%;
}

header .header-top .search input[type="text"]::placeholder {
    color: #a6a9ac;
}

header .header-top .search button {
    color: #a6a9ac;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

header nav ul {
    padding: 0;
    height: 69px;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin: 0 24px;
}

header nav ul li:first-child {
    margin-left: 0;
}

/* end header */

/* main */

/* .general-info */

.general-info {
    margin-top: 40px;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    display: flex;
}

.general-info .author {
    flex: 0 0 27%;
    margin-top: 0;
    padding-top: 45px;
    text-align: center;
}

.general-info .author .social {
    margin: 20px;
}

.general-info .author .social>a {
    font-size: 28px;
    margin: 0 6px;
}

.general-info .author>a {
    display: block;
    padding: 20px 0;
    border-top: 1px solid #eceff2;
}

.general-info .author .message {
    border-bottom: 1px solid #eceff2;
}

.general-info .author>a:hover {
    background: #f5f8f9;
    border-color: #f5f8f9;
}

.general-info .author>a>svg {
    margin-right: 10px;
}

.general-info .introduce {
    padding: 50px 40px;
    border-left: 1px solid #eceff2;
}

.general-info .introduce>h1 {
    color: #212121;
    font-size: 32px;
    line-height: 46px;
}

.general-info .introduce>span {
    color: #a6a9ac;
    font-size: 15px;
}

.general-info .introduce>p {
    margin: 30px 0;
}

/* end general-info */

/* detail-info */

.detail-info {
    margin-top: 40px;
    padding: 50px 44px;
    background: #ffffff;
    box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.04);
    display: flex;
}

.detail-info .philoshopy {
    flex: 0 0 50%;
    padding-right: 22px;
}

.detail-info .philoshopy>h1 {
    color: #212121;
    margin-bottom: 32px;
}

.detail-info .philoshopy>p {
    line-height: 27px;
}

.detail-info .skills {
    flex: 0 0 50%;
    padding-left: 22px;
}

.detail-info .skills>h1 {
    color: #212121;
    margin-bottom: 32px;
}

.detail-info .skills>ol {
    padding-left: 70px;
}

.detail-info .skills>ol>li {
    position: relative;
}

.detail-info .skills>ol>li>span {
    transform: rotate(-90deg);
    color: #cccfd3;
    font-size: 60px;
    line-height: 64px;
    font-weight: 900;
    position: absolute;
    top: 12px;
    left: -84px;
    font-size: 60px;
}

.detail-info .skills>ol>li>h2 {
    color: #212121;
}

.detail-info .skills>ol>li>p {
    font-size: 14px;
    line-height: 22px;
}

/* detail-info end */

/* main end */

/* footer */

footer {
    margin-top: 40px;
    background: #ffffff;
}

footer .container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

footer .container>p {
    margin: 0;
}

footer .social>a {
    line-height: 34px;
    font-size: 22px;
    margin: 0 6px;
}

/* footer end */